


.banner{	background-image: url("images/pe_banner.png");
background-size: contain; 
background-repeat: no-repeat;
height: 300px; }


.img-petite{
width: 200px;	

}



#carouselExampleIndicators{
width:50%;
    margin: auto;
    padding: 5PX;
}

@media (max-width: 540px) {
#carouselExampleIndicators{
width:100%;
}

	
}

.footer{	background-image: url("images/pe_footer2.png");
background-size: contain; 
background-repeat: no-repeat;
height: 230px;  }
