.banner{	background-image: url("images/pe_banner.png");
background-size: cover; 
height: 230px; }

.img-petite{
width: 200px;	

}




.footer{	background-image: url("images/pe_footer.png");
background-size: cover; 
height: 230px;  }
