.banner{	background-image: url("images/pe_banner.png");
background-size: contain; 
background-repeat: no-repeat;
height: 300px; }

.img-petite{
width: 200px;	

}




.footer{	background-image: url("images/pe_footer2.png");
background-size: contain; 
background-repeat: no-repeat;
height: 230px;  }
